<section id="index-page">
  <section id="header">
    <div class="container">
      <div class="row">
        <a href="<%=root_path%>" id="logo" class="span4">Logo</a>
        <div id="button-wrapper" class="offset4 span8">
          <%= form_tag presentations_path, :style => "display: inline-block;" do %>
            <%= submit_tag("Start A Classroom!", :class => "btn large primary") %>
          <% end %>
          <%= form_tag signin_path, :style => "display: inline-block;" do %>
            <%= submit_tag("Login/Signup\nAll you need is Google", :class => "btn large success") %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div id="main">
      <div class="row">
        <div class="span8">
          <h1>A tool to Share, Collaborate, and Participate in Presentations and Art.  It's as easy as drawing right in your browser, and the best part is...</h1>
          <h4>
            It just works.
          </h4>
        </div>
        <div class="span8">
          <img src="images/video-stub.png">
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <img class="thumbnail" src="http://placehold.it/210x150" alt="">
        </div>
        <div class="span4">
          <img class="thumbnail" src="http://placehold.it/210x150" alt="">
        </div>
        <div class="span4">
          <img class="thumbnail" src="http://placehold.it/210x150" alt="">
        </div>
        <div class="span4">
          <img class="thumbnail" src="http://placehold.it/210x150" alt="">
        </div>
      </div>
      <div class="row">
        <div class="span-one-third">
          <h3>Magna</h3>
          <p>
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          </p>
        </div>
        <div class="span-one-third">
          <h3>Vehicula</h3>
          <p>
            Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          </p>
        </div>
        <div class="span-one-third">
          <h3>Ornare</h3>
          <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum.
          </p>
        </div>
      </div>
      <div id="footer" class="row">
        <div id="footer-logo-wrap" class="span4">
          <div id="footer-logo">
            Narwhal
          </div>
        </div>
        <div class="span4">
          <h4>Ultricies</h4>
          <ul class="unstyled">
            <li>Ornare Ridiculus Inceptos</li>
            <li>Justo Sit</li>
            <li>Cras Magna Amet Ligula</li>
            <li>Inceptos Pellentesque</li>
          </ul>
        </div>
        <div class="span4">
          <h4>Ultricies</h4>
          <ul class="unstyled">
            <li>Ornare Ridiculus Inceptos</li>
            <li>Justo Sit</li>
            <li>Cras Magna Amet Ligula</li>
            <li>Inceptos Pellentesque</li>
          </ul>
        </div>
        <div class="span4">
          <h4>Ultricies</h4>
          <ul class="unstyled">
            <li>Ornare Ridiculus Inceptos</li>
            <li>Justo Sit</li>
            <li>Cras Magna Amet Ligula</li>
            <li>Inceptos Pellentesque</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
