<section id="new-page">
  <section id="header">
    <div class="container">
      <div class="row">
        <div id="logo" class="span4">Logo</div>
      </div>
    </div>
  </section>
  <div class="container">
    <section id="signup-wrapper">
      <div class="row">
        <div class="row">
          <div class="span6 offset1">
            <%= form_for @user, :class => "form-stacked", :url => {controller: :users, action: :create} do |f| %>
              <fieldset>
                <div id="clearfix">
                  <label for="">Avatar</label>
                  <div class="input">
                    <%= image_tag @user.avatar_url %>
                  </div>
                  <%= f.label :dummy_email %>
                  <div class="input">
                    <%= f.text_field :dummy_email, :value => @user.email, :class => "xlarge disabled", :disabled => true %>
                  </div>
                  <%= f.label :first_name %>
                  <div class="input">
                    <%= f.text_field :first_name, :class => "xlarge" %>
                  </div>
                  <%= f.label :last_name %>
                  <div class="input">
                    <%= f.text_field :last_name, :class => "xlarge" %>
                  </div>
                  <%= f.hidden_field :google_uid %>
                  <%= f.hidden_field :email %>
                  <%= f.hidden_field :avatar_url %>
                  <div class="input">
                    <%= f.submit 'Create Your Account', :class => "btn large success" %>
                  </div>
                </div>
              </fieldset>
            <% end %>
          </div>
          <div class="span6 offset3">
            <div id="signup-copy">
              <h3>
                After you have an account
              </h3>
              <h4>
                You can
              </h4>
              <ul class="unstyled">
                <li>
                  Save presentations
                </li>
                <li>
                  Upload Powerpoints*
                </li>
                <li>
                  See every presentation you ahve worked in
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
