<!DOCTYPE html>
<html>
<head>
  <title>Narwhal</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://js.pusherapp.com/1.8/pusher.min.js"%>
  <%= csrf_meta_tags %>
  <script type="text/javascript" charset="utf-8">
    pusher = new Pusher('b106769bbea5c2e08e77');
    myChannel = pusher.subscribe('things');
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
