<!DOCTYPE html>
<html>
<head>
  <title>Narwhal</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://js.pusherapp.com/1.8/pusher.min.js"%>
  <%= csrf_meta_tags %>
  <script type="text/javascript" charset="utf-8">
    pusher = new Pusher('b106769bbea5c2e08e77');
    myChannel = pusher.subscribe('things');
  </script>
  <link href='http://fonts.googleapis.com/css?family=Schoolbell|Yanone+Kaffeesatz:200,400,700|Delius' rel='stylesheet' type='text/css'>
  
</head>
<body>

  <%= yield %>

  <div id="ribbon" class="no_select">
    <%= link_to "Take the Survey Now", survey_path %>
  </div>
</body>
</html>
